<h1>Resumo</h1>

<table>
  <tr>
    <th>dia</th>
    <th>dia da semana</th>
    <th>horas feitas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @horas.each do |dia| %>
  <tr>
    <td><%= dia[0] %></td>
    <td><%= Date::DAYNAMES[dia[0].cwday - 1] %></td>
    <td><%= dia[1]  %></td>
  </tr>
<% end %>
</table>
