<div class="blue-text">
  &lt; <%= @year %> &gt;
</div>

<div class="blue-line">  </div>

<table style="width: 100%">
  <tr>
    <% @horas.each do |mes| %>
      <td class="month-table">
        <%= Date::MONTHNAMES[mes[0]] %>
        <br/> <br/>
  <%#= mes[1][0] %>
  <%#= mes[1][1] %>
        <b>
          100/100
        </b>
      </td>
      <% if mes[0] == 6 %>
      </tr>
      <tr>
      <% end %>
    <% end %>
  </tr>
</table>