<h1>Resumo</h1>

<table>
  <tr>
    <th>Mes</th>
    <th>Horas feitas</th>
    <th>horas pretendidas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @horas.each do |mes| %>
  <tr>
    <td><%= Date::MONTHNAMES[mes[0]] %></td>
    <td><%= mes[1][0] %></td>
    <td><%= mes[1][1] %></td>
  </tr>
<% end %>
</table>
