<br/> <br/> <br/> <br/>
<div id="lower-bar" class="navbar-fixed-bottom toolbar">
    <%= f.submit "Salvar", :class => "btn default-button"%>
    <%= link_to "Cancelar", projetos_path, :class => "btn default-button" %>
</div>