<div class="blue-text" style="margin-left: 30px">
  Projetos
</div>

<div class="blue-line">  </div>

<table class="list-table">

<% @projetos.each do |projeto| %>
  <tr>
    <td><%= projeto.name %></td>
    <td><%= projeto.data_de_inicio %></td>
    <td><%= projeto.horas_totais %></td>
  </tr>
<% end %>
</table>

<%= link_to "Adicionar", new_projeto_path, :class => "btn default-button", :style => "margin: 15px;"%>
