<div class="loggedin">
  <a id="collapse-button" data-toggle="collapse" data-target="#boards">
    Boards do Trello
  </a>
  <button class="icon-refresh blank-button" id="trello-reload" type="button" title="Recarregar lista de cartões"
          onclick="loadUserCards()"></button>
  <div class="collapse in" id="boards">
    <div class="row">
      <% @boards.each_with_index do |board, index| %>
        <div class="col-md-4">
          <%= check_box_tag board, board, false, onclick: "filterCards(this)"  %>
          <%= hidden_field_tag :board_id, board, :class => "board-placeholder" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-scrollable" id="card-list" ></div>
</div>
