<div class="form-status">
  <div class="form-saved">
    <i class="icon-ok"></i> Salvo
  </div>
  <div class="form-changed">
    <i class="icon-exclamation"></i> Falta salvar
  </div>
  <i class="icon-spinner icon-spin form-spinner" style="display:none;"> </i>
</div>
