<!DOCTYPE html>
<html>
  <head>
    <title>SinLab</title>
    <h1>SINLAB</h1>
  </head>
  <body>
  <ul class="links"> Usuarios
    <li><a href="http://localhost:3000/usuarios/sign_in">Entrar</a></li>
    <% if can? :create, Usuario %>
      <li><a href="http://localhost:3000/usuarios/sign_up">Cadastrar</a></li>
    <% end %>
    <% if can? :update, Usuario %>
    <li><a href="http://localhost:3000/usuarios/edit">Edite sua conta</a></li>
    <% end %>
  </ul>
  <ul class="links"> Resumo
    <% unless current_usuario.nil?%>
      <li><a href="http://localhost:3000/resumo/horas_por_mes_por_pessoa">suas horas por mes</a></li>
      <li><a href="http://localhost:3000/resumo/horas_por_dia_por_pessoa">suas horas por dia</a></li>
    <% end %>
      <li><a href="http://localhost:3000/resumo/horas_e_investimento_por_projeto">Resumo dos projetos</a></li>
  </ul>

  <ul class="links"> Projetos
    <li><a href="http://localhost:3000/projetos/">Listar</a></li>
    <% if can? :create, Projeto %>
     <li><a href="http://localhost:3000/projetos/new">Criar novo projeto</a></li>
    <% end %>
  </ul>

  <ul class="links"> Banco de horas
    <li><a href="http://localhost:3000/banco_de_horas/">Listar</a></li>
    <% if can? :create, BancoDeHora%>
      <li><a href="http://localhost:3000/banco_de_horas/new">adcionar horas</a></li>
    <% end %>
  </ul>

  </body>
</html>
