<% mensagens = atividade.mensagens %>
<table>
  <tr>
    <th>De      </th>
    <th>mensagem</th>
    <th>Data    </th>
  </tr>
  <% mensagens.each do |msg| %>
    <tr>
      <td><%= msg.autor.nome %></td>
      <td><%= msg.conteudo   %></td>
      <td><%= msg.updated_at %></td>
    </tr>
  <%end%>
</table>
