<div id="navegacao" style="width: 0%; float: left; display: none" >
  
  <a style="cursor: pointer;" data-toggle="collapse" data-target="#projetos">
    <h4>Projetos</h4>
  </a>
  <div id="projetos" class="collapse">
    <% @projetos.each do |projeto| %>
      <%= check_box_tag "projeto[0]", projeto[1], true,onclick: '$(".proj' + projeto[1].to_s + '_mark").toggle();' %> <%= projeto[0] %>
      <br/>
    <%  end %>
  </div>
  <% if can? :manage, :usuario %>
    <%= select_tag :menu_select, options_for_select(@usuarios, @usuario.id),
      :prompt => "Escolha um usuario", :onchange => "mudaUsuario(this)", :style => "width: 90%; margin: 10px" %>
  <%end%>
</div>