  <div class="blue-text" style="margin-left: 30px">
  Pagamentos
</div>

<div class="blue-line">  </div>

<ul class="nav nav-tabs">
  <li><a href="#tudo" data-toggle="tab">TUDO</a></li>
  <li><a href="#usuarios" data-toggle="tab">Usuários</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane" id="usuarios">
    <%= render :partial => 'usuarios'%>
  </div>
  <div class="tab-pane active" id="tudo">
    <%= render :partial => 'tudo'%>
  </div>
</div>
