.top-nav {
    width: 50%;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0);
}

.top-nav li {
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0px;
    color: black;
}

.top-nav a {
    width: 100%;
    background-color: white;
}

.top-nav a:hover {
    background-color: rgb(33, 147, 189) !important;
}

.top-user {
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
    line-height: 25px;
}

.top-user a:hover {
    color: black;
    background: none;
}

.top-table {
    border: rgb(33, 147, 189) 1px solid;
    float: right;
    margin-right: 15px;
}

.top-table .saldo {
    color: white;
    font-size: 24px;
    background-color: rgb(33, 147, 189);
    font-family: Arial,Helvetica,sans-serif;
    padding: 30px 10px;
}

.top-table .data {
    font-weight: bold;
    font-size: 35px;
    border-bottom: rgb(33, 147, 189) 1px solid;
    padding: 10px 30px;
    text-align: center;
}

.month-table td {
    margin: 5px !important;
    height: 200px;
    font-size: 25px;
    font-family: Arial,Helvetica,sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
    border: 15px white solid;
    width: 15%;
}

.month-table a {
    color: inherit;
}

.month-table a:hover {
    color: inherit;
    background-color: inherit;
}

.day-table td {
    height: 100px;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    color: white;
    border: 5px white solid;
}

.day-table a {
    color: inherit;
}

.day-table .toggle {
    float: right;
    padding: 6%;
    display: none;
}

.day-table a:hover {
    color: inherit;
    background-color: inherit;
}

.day-table th {
    font-size: 20px;
    font-family: Arial,Helvetica,sans-serif;
    width: 5%;
    background-color: gainsboro;
    padding: 5px;
    border: 5px solid white;
}

.blue-line {
    width: 98%;
    background-color: rgb(33, 147, 189);
    height: 2px;
    margin-left: 15px;
}

.grey-line {
    width: 98%;
    background-color: rgb(180, 180, 180);
    height: 2px;
    margin: 10px 0px;
}

.blue-text {
    font-size: 35px;
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(33, 147, 189);
    padding: 25px 0px;
    font-weight: bold;
    margin-left: 15px;
}

.list-table {
    width: 98%;
    margin-left: 15px;
}

.list-table td{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-bottom: 2px solid rgb(180, 180, 180);
}

.list-table th{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

.default-button {
    background: none;
    border-radius: 0;
    background-color: rgb(180, 180, 180);
    color: black !important;
    text-shadow: none;
    font-size: 17px;
}


.blue-background {
    background-color: rgb(168, 212, 229);
    text-align: center;
    padding: 10px 10px;
}

.red-background {
    background-color: #FF9393;
    padding: 10px 10px;
}

.green-background {
    background-color: #ACFF98;
    padding: 10px 10px;
}

.panel-scrollable {
    border: none;
    overflow: hidden;
    overflow-y: auto;
}

.blue-text a {
    color: inherit;
}

.blue-text a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: inherit;
}

.nohover:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    color: rgb(168, 212, 229);
}

.inline-label {
    display: inline;
    margin-right: 10px
}

.inline-form {
    display: inline;
    padding: 0;
}

.month-link {
    width: 100%;
    display: block;
    height: 100%;
    padding: 30% 0;
}

.month-link:hover {
    text-decoration: none
}

.day-link {
    width: 96%;
    display: block;
    height: 100%;
    padding: 2%;
}

.day-link:hover {
    text-decoration: none
}

#menu_select {
    margin-left: 15px;
}

.nav-links:hover {
    background:none !important;
}

.toolbar {
    background-color: white;
    padding: 5px 0;
    margin: 0 45px;
    border: 2px solid grey;
    border-radius: 5px;
}

.toolbar .default-button {
    margin-left: 10px;
}

.alert {
    background-color: rgb(168, 212, 229);
    color: #000000;
    margin: 2px;
    border-radius: 5px
}

.loggedout {
}
.loggedin {
    display: none;
}

#header {
    padding: 4px;
    border-bottom: 1px solid #000;
    background: #eee;
}

#disconnect {
    cursor: pointer
}

#output {
    padding: 10px;
}

.card {
    display: inline-table;
    width: 90%;
    padding: 2px;
    margin: 2px;
    background-color: #eee
}

.card:visited {
    color: black;
}

.card:hover {
    background-color: rgb(33, 147, 189) !important;
    text-decoration: none;
    color: white;
}

.cardnaohover { 
    display: inline-table;
    width: 90%;
    padding: 2px;
    margin: 2px;
}

.cardnaohover:visited {
    color: black;
}

.cardnaohover:hover { 
    background-color: inherit;
    color: black;
    text-decoration: none;
}

.trello-dropover {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.par {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.modal {
    height:510px;
}

.modal-body {
    height:90%;
    max-height: 90%;
}

.form-group {
    text-align: left;
    border-radius: 10px;
    margin: 10px;
    background-color: #EBEBEB;
    padding-bottom: 10px;
}

.form-group h3 {
    padding: 15px 20px;
}

.activity-message {
    text-align: left;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 85%
}

.gray-link {
    background-color: #666666;
}

.gray-link:hover {
    background-color: #444444 !important;
}

.red-link {
    background-color: #CC0000;
}

.red-link:hover {
    background-color: #B10000 !important;
}

.blue-link {
    background: rgb(33, 147, 189);
}

.blue-link:hover {
    background-color: rgb(0, 112, 153) !important;
}

.slider {
    width: 90%
}

.slider > #time {
    display: inline;
}

.slider > #slider {
    margin: 10px;
}

.card-slider {
    padding: 5px;
}

.nodrop {
    background-color: inherit;
    margin-bottom: 10px;
}

.nodrop > .card {
    background-color: white;
}

.ok {
    color: green
}

.nok {
    color: red
}

.typeahead {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.default-date {
    width: 70px;
}

.form-group input[type="text"] {
    width: 90%;
}

.pagination {
    margin: 15px;
}

.pagination a:hover {
    color: black;
}

#boards {
    background-color: #EEE;
    border-radius: 0px 10px 10px 10px;
    padding: 0 10px;
    margin: 0px 10px 10px 10px;
}

#collapse-button {
    padding: 5px;
    background-color: #EEE;
    border-radius: 10px 10px 0px 0px;
    margin: 10px;
}

#collapse-button:hover, .nav-tabs>li>a:hover {
    cursor: pointer;
    color: black;
}

ul .submenu {
    background-color: inherit;
    color: #000;
}

.dropdown-menu {
    padding: 0;
    border: none;
}

#projetos .projetos-header {
    padding-top: 10px
}

#projetos .projetos-body {
    padding-top: 10px
}

.day-table td.today {
    border: 6px solid #FF00CC;
}

.month-table td.today {
    border-collapse: separate;
    border: 16px solid #FF00CC;
}

