<p>Olá <%= @resource.nome %>!</p>

<p>Você realmente esqueceu a sua senha? </p>
<br /><br /><br /><br /><br /><br /><br /><br />
<p>Tem certeza disso? </p>
<br /><br /><br /><br /><br /><br /><br /><br />
<p>........</p>
<br /><br /><br /><br /><br /><br /><br /><br />
<p>É a última vez que eu vou perguntar.... </p>
<br /><br /><br /><br /><br /><br /><br /><br />
<p>Ok, agora eu acredito em você. Pode mudar a sua senha através do link abaixo.. </p>
<p><%= link_to 'Mude minha senha de uma vez', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Caso não queira mudar a senha, é só ignorar este email.</p>
<p>Sua senha continuará a mesma, até que uma nova senha seja criada pelo link acima.</p>
